<div class="add-form-container">
  <div class="add-form">
    <form [formGroup] = form (ngSubmit)="onSubmit()">
      <div class="col">
        <label class="label">
          <span class="fill-available">Name:</span>
          <input type="text" class="input" formControlName="name" placeholder="Name" required>
        </label>
        <div
          *ngIf="form.controls.name.invalid && (form.controls.name.dirty || form.controls.name.touched)"
          class="error-message"
        >
          This field is required
        </div>
        <label class="label">
          <span class="fill-available">Email:</span>
          <input type="email" class="input" formControlName="email" placeholder="Email" required>
        </label>
        <div
          *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)"
          class="error-message"
        >
          This field is required
        </div>
        <label class="label">
          <span class="fill-available">Gender:</span>
          <select class="input" formControlName="status" required>
            <option value="male">male</option>
            <option value="female">female</option>
            <option value="other">other</option>
          </select>
        </label>
        <div
          *ngIf="form.controls.status.invalid && (form.controls.status.dirty || form.controls.status.touched)"
          class="error-message"
        >
          This field is required
        </div>
        <label class="label">
          <span class="fill-available">Birth date:</span>
          <input type="date" class="input fill-available" formControlName="dateOfBirth" required>
        </label>
        <div
          *ngIf="form.controls.dateOfBirth.invalid && (form.controls.dateOfBirth.dirty || form.controls.dateOfBirth.touched)"
          class="error-message"
        >
          This field is required
        </div>
        <label class="label">
          <span class="fill-available">Hourly rate:</span>
          <input type="number" class="input" formControlName="hourlyRate" placeholder="Hourly rate" required>
        </label>
        <div
          *ngIf="form.controls.hourlyRate.invalid && (form.controls.hourlyRate.dirty || form.controls.hourlyRate.touched)"
          class="error-message"
        >
          This field is required
        </div>
        <button type="submit" class="button" [disabled]="form.invalid">Add job</button>
      </div>
    </form>
  </div>
</div>
<div class="user-list">
  <div *ngIf="users && users.length !== 0">
    <div *ngFor="let user of users" class="user">
      <p>Name: {{user.name}}</p>
      <p>Gender:  {{user.status}}</p>
      <p>Date of birth: {{user.dateOfBirth | date}}</p>
      <p>Email: {{user.email}}</p>
      <p>Hourly rate: {{user.hourlyRate}}</p>
      <button (click)="deleteUser(user.id)">Delete</button>
    </div>
  </div>
  <div *ngIf="!users || users.length === 0">
    No users, please add new users to display.
  </div>
</div>
