.col {
  display: flex;
  flex-direction: column;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
}

.form {
  display: flex;
}

.button {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.error-message {
  border: 1px solid red;
}

.label {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.input {
  margin-left: 10px;
}
