<div *ngIf="user">
  <h3 class="title">Edit user data</h3>
  <form [formGroup] = form (ngSubmit)="onSubmit()" class="form">
    <div class="col center">
      <label class="label">
        <span>Name:</span>
        <input type="text" class="input" formControlName="name" placeholder="Name" required>
      </label>
      <div
        *ngIf="isControlInvalid(form.controls.name)"
        class="error-message"
      >
        This field is required
      </div>
      <label class="label">
        <span>Email:</span>
        <input type="email" class="input" formControlName="email" placeholder="Email" required>
      </label>
      <div
        *ngIf="isControlInvalid(form.controls.email)"
        class="error-message"
      >
        This field is empty or invalid
      </div>
      <label class="label">
        <span>Gender:</span>
        <select class="input" formControlName="status" required>
          <option value="male">male</option>
          <option value="female">female</option>
          <option value="other">other</option>
        </select>
      </label>
      <div
        *ngIf="isControlInvalid(form.controls.status)"
        class="error-message"
      >
        This field is required
      </div>
      <label class="label">
        <span>Birth date:</span>
        <input type="date" class="input" formControlName="dateOfBirth" required>
      </label>
      <div
        *ngIf="isControlInvalid(form.controls.dateOfBirth)"
        class="error-message"
      >
        This field is required
      </div>
      <label class="label">
        <span>Hourly rate:</span>
        <input type="number" class="input" formControlName="hourlyRate" placeholder="Hourly rate" required>
      </label>
      <div
        *ngIf="isControlInvalid(form.controls.hourlyRate)"
        class="error-message"
      >
        This field is required
      </div>
      <button type="submit" class="button" [disabled]="form.invalid">Edit user</button>
    </div>
  </form>
</div>
<div *ngIf="!user">
  No such user.
</div>
