<div *ngIf="job">
  <h3 class="title">Edit job data</h3>
  <form [formGroup] = form (ngSubmit)="onSubmit()" class="form">
    <div class="col center">
      <label class="label">
        <span>Title:</span>
        <input type="text" class="input" formControlName="title" placeholder="Title" required>
      </label>
      <div
        *ngIf="isControlInvalid(form.controls.title)"
        class="error-message"
      >
        This field is required
      </div>
      <label class="label">
        <span>Description:</span>
        <input type="text" class="input" formControlName="description" placeholder="Description" required>
      </label>
      <div
        *ngIf="isControlInvalid(form.controls.description)"
        class="error-message"
      >
        This field is required
      </div>
      <button type="submit" class="button" [disabled]="form.invalid">Edit job</button>
    </div>
  </form>
</div>
<div *ngIf="!job">
  No such job.
</div>
